<ion-header>
  <ion-navbar color="russia-red">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (submit)="doSignup()">
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input [(ngModel)]="regData.firstName" name="firstName" type="text" placeholder="Your first name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Surname</ion-label>
      <ion-input [(ngModel)]="regData.surname" name="surname" type="text" placeholder="Your surname" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input [(ngModel)]="regData.email" name="email" type="text" placeholder="Your email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input [(ngModel)]="regData.password" name="password" type="password" placeholder="Your password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Confirm Password</ion-label>
      <ion-input [(ngModel)]="regData.confirmPassword" name="confirmPassword" type="password" placeholder="Confirm password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked color="dark">
        <ion-icon color="red" *ngIf="!isPasswordBetween6And20Characters(regData.password)" name="close-circle"></ion-icon>
        <ion-icon color="green" *ngIf="isPasswordBetween6And20Characters(regData.password)" name="checkmark-circle"></ion-icon>
        <span [ngStyle]="{'color': isPasswordBetween6And20Characters(regData.password) ? 'green' : 'red'}">
          Between 6 and 20 characters.
        </span>
      </ion-label>
      <ion-label stacked color="dark">
        <ion-icon color="red" *ngIf="!doesPasswordContainUppercaseLetters(regData.password)" name="close-circle"></ion-icon>
        <ion-icon color="green" *ngIf="doesPasswordContainUppercaseLetters(regData.password)" name="checkmark-circle"></ion-icon>
        <span [ngStyle]="{'color': doesPasswordContainUppercaseLetters(regData.password) ? 'green' : 'red'}">
          Contain an uppercase letter.
        </span>
      </ion-label>
      <ion-label stacked color="dark">
        <ion-icon color="red" *ngIf="!doesPasswordContainLowercaseLetters(regData.password)" name="close-circle"></ion-icon>
        <ion-icon color="green" *ngIf="doesPasswordContainLowercaseLetters(regData.password)" name="checkmark-circle"></ion-icon>
        <span [ngStyle]="{'color': doesPasswordContainLowercaseLetters(regData.password) ? 'green' : 'red'}">
          Contain a lowercase letter.
        </span>
      </ion-label>
      <ion-label stacked color="dark">
        <ion-icon color="red" *ngIf="!doesPasswordContainNumbers(regData.password)" name="close-circle"></ion-icon>
        <ion-icon color="green" *ngIf="doesPasswordContainNumbers(regData.password)" name="checkmark-circle"></ion-icon>
        <span [ngStyle]="{'color': doesPasswordContainNumbers(regData.password) ? 'green' : 'red'}">
          Contain a number.
        </span>
      </ion-label>
      <ion-label stacked color="dark">
        <ion-icon color="red" *ngIf="!doPasswordsMatch(regData.password, regData.confirmPassword)" name="close-circle"></ion-icon>
        <ion-icon color="green" *ngIf="doPasswordsMatch(regData.password, regData.confirmPassword)" name="checkmark-circle"></ion-icon>
        <span [ngStyle]="{'color': doPasswordsMatch(regData.password, regData.confirmPassword) ? 'green' : 'red'}">
          Passwords must match.
        </span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Predicted Winner</ion-label>
      <ion-select name="predictedWinner" [(ngModel)]="regData.predictedWinner">
        <ion-option value="Russia">Russia</ion-option>
        <ion-option value="Saudi Arabia">Saudi Arabia</ion-option>
        <ion-option value="Egypt">Egypt</ion-option>
        <ion-option value="Uruguay">Uruguay</ion-option>
        <ion-option value="Morocco">Morocco</ion-option>
        <ion-option value="Iran">Iran</ion-option>
        <ion-option value="Portugal">Portugal</ion-option>
        <ion-option value="Spain">Spain</ion-option>
        <ion-option value="France">France</ion-option>
        <ion-option value="Australia">Australia</ion-option>
        <ion-option value="Peru">Peru</ion-option>
        <ion-option value="Denmark">Denmark</ion-option>
        <ion-option value="Argentina">Argentina</ion-option>
        <ion-option value="Iceland">Iceland</ion-option>
        <ion-option value="Croatia">Croatia</ion-option>
        <ion-option value="Nigeria">Nigeria</ion-option>
        <ion-option value="Costa Rica">Costa Rica</ion-option>
        <ion-option value="Serbia">Serbia</ion-option>
        <ion-option value="Brazil">Brazil</ion-option>
        <ion-option value="Switzerland">Switzerland</ion-option>
        <ion-option value="Germany">Germany</ion-option>
        <ion-option value="Mexico">Mexico</ion-option>
        <ion-option value="Sweden">Sweden</ion-option>
        <ion-option value="Korea Republic">Korea Republic</ion-option>
        <ion-option value="Belgium">Belgium</ion-option>
        <ion-option value="Panama">Panama</ion-option>
        <ion-option value="Tunisia">Tunisia</ion-option>
        <ion-option value="England">England</ion-option>
        <ion-option value="Poland">Poland</ion-option>
        <ion-option value="Senegal">Senegal</ion-option>
        <ion-option value="Colombia">Colombia</ion-option>
        <ion-option value="Japan">Japan</ion-option>
      </ion-select>
    </ion-item>
      <ion-label class="item-ios" stacked>
        (Predicted Winner cannot be changed)
      </ion-label>
    <button ion-button block type="submit">
      Register
    </button>
  </form>
</ion-content>
