predictions-accordion {
  .v-center {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .h-center {
    text-align: center;
    font-size: 3vw;
  }

  .team {
    color: color($colors, russia-red);
    font-size: 3vw;
  }

  .grid {
    margin: 0;
    padding: 0;
  }

  .accordion-list {
    background: color($colors, light);
    height: 100%;
  }
  .section {
    background: #fff;
    color: #000;
    margin-bottom: 4px;
  }
  .section-active {
    background: color($colors, russia-red);
    color: #fff;
  }

  .child {
    background: #e8e7e6;
    color: #000;
    margin-bottom: 4px;
  }
  .child-item {
    background: #f3f2f1;
    padding: 10px;
  }
  .label {
    margin: 0px;
  }
  .list {
    margin-bottom: 4px;
  }

  .dashed-bottom {
    border-bottom: 4px dashed;
  }

  .match {
    text-transform: none;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    white-space: normal;
  }

  .flag {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
