<ion-header>
  <ion-navbar color="russia-red">
    <ion-title>
      Standings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="chat-sliding-demo">
    <ion-list-header>
      User Added Leagues
    </ion-list-header>

    <ion-item-sliding *ngFor="let chat of chats" #item>
      <ion-item (click)="openLeague(item)">
        <h2>{{chat.name}}</h2>
        <p>{{chat.message}}</p>
        <ion-note item-end>
          {{chat.time}}
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button color="secondary" (click)="openLeague(item)">
          <ion-icon name="menu"></ion-icon>
          Open
        </button>
        <button ion-button color="danger" (click)="deleteLeague(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="chat-sliding-demo">
    <ion-list-header>
      Overall League
    </ion-list-header>

    <ion-item-sliding *ngFor="let chat of chats" #item>
      <ion-item>
        <h2>{{chat.name}}</h2>
        <p>{{chat.message}}</p>
        <ion-note item-end>
          {{chat.time}}
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button color="secondary" (click)="openLeague(item)">
          <ion-icon name="menu"></ion-icon>
          Open
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
