<ion-header>
  <ion-navbar color="russia-red" class="white-spinner">
    <ion-buttons left>

      <button *ngIf="scoreRetrievable" ion-button [disabled]="!rank" (click)="goToStandingsPage()">
        {{ rank || "" }}
        <ion-spinner *ngIf="!rank"></ion-spinner>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button *ngIf="scoreRetrievable" ion-button [disabled]="!score" (click)="goToStandingsPage()">
        {{ score || "" }}
        <ion-spinner *ngIf="!score"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="text">
  <ion-refresher (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div padding><h2 class="title-font">World Cup 2018 Predictor</h2></div>

  <ion-list>
    <ion-list class="accordion-list">
      <!-- RULES -->
      <ion-list-header no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(rulesDropdown)" detail-none [ngClass]="{'section-active': rulesDropdown.open, 'section': !rulesDropdown.open}">
          <ion-icon item-left name="arrow-forward" *ngIf="!rulesDropdown.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="rulesDropdown.open"></ion-icon>
          Rules
        </button>

        <ion-list *ngIf="rulesDropdown.open" no-lines padding>
          <rules class="remove-header-styling"></rules>
        </ion-list>
      </ion-list-header>

      <!-- SCORING -->
      <ion-list-header no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(scoringDropdown)" detail-none [ngClass]="{'section-active': scoringDropdown.open, 'section': !scoringDropdown.open}">
          <ion-icon item-left name="arrow-forward" *ngIf="!scoringDropdown.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="scoringDropdown.open"></ion-icon>
          Scoring
        </button>

        <ion-list *ngIf="scoringDropdown.open" no-lines padding>
          <scoring class="remove-header-styling"></scoring>
        </ion-list>
      </ion-list-header>
    </ion-list>
  </ion-list>

  <ion-card>
    <ion-card-header (tap)="goToPredictorPage()">
      Upcoming Matches
    </ion-card-header>

    <ion-card-content *ngIf="matchesRetrievable && upcomingMatches && upcomingMatches.length > 0" no-padding>
      <ion-scroll scrollY="true" no-padding scrollCatcher>
        <ion-item-group *ngFor="let item of upcomingMatches" align-self-center no-padding>
          <ion-item-divider color="light" class="h-center">
            {{item.date | date : "EEE, d MMMM yyyy" }}
          </ion-item-divider>
          <ion-item *ngFor="let match of item.matches" (tap)="goToPredictorPage()">
            <ion-row class="v-center">
              <ion-col col-3 class="h-center">
                {{ match.hteam  || "TBC" }}
              </ion-col>
              <ion-col col-2>
                <img *ngIf="match.hteam" src="assets/img/{{match.hteam}}.png" class="flag" align="top">
              </ion-col>
              <ion-col col-2 class="h-center">
                {{match.dateTime | date : "ha" }}
              </ion-col>
              <ion-col col-2>
                <img *ngIf="match.ateam" src="assets/img/{{match.ateam}}.png" class="flag" align="top">
              </ion-col>
              <ion-col col-3 class="h-center">
                {{ match.ateam  || "TBC" }}
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-item-group>
      </ion-scroll>
    </ion-card-content>

    <ion-card-content *ngIf="matchesRetrievable && !upcomingMatches" class="card-size">
      <ion-row class="v-center full-height">
        <ion-col col-12 class="h-center">
          <ion-spinner></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card-content *ngIf="matchesRetrievable && upcomingMatches && upcomingMatches.length == 0" class="card-size">
      <ion-row class="v-center full-height">
        <ion-col col-12 class="h-center">
          No upcoming matches
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card-content *ngIf="!matchesRetrievable" class="card-size">
      <ion-row class="v-center full-height">
        <ion-col col-12 class="h-center">
          Error loading matches, please try again
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
