page-home {
  .title-font {
    font-family: dusha-regular, serif;
    font-size: 7vw;
  }

  .subtitle {
    font-size: 5vw;
  }

  .subtitle-font {
    margin: 0;
    font-family: dusha-regular, serif;
  }

  .grid {
    padding: 0;
  }


  .text {
    font-size: 3vw;
  }

  .white-spinner {
    ion-spinner svg * {
      stroke: white !important;
    }
  }
}

ion-grid {
  ion-row {
    height: 33.33%;
  }
}
