scoring {
  .subtitle {
    font-size: 5vw;
  }

  .subtitle-font {
    margin: 0;
    font-family: OpenSans-Bold-complete, serif;
  }

  .grid {
    margin: 0;
    padding: 0;
  }

  .text {
    font-size: 3vw;
  }
}
