<!--<h4 class="subtitle subtitle-font">Scoring:</h4>-->
<b class="subtitle-font">Group Stage</b>
<ion-list class="grid">
  <ion-row>
    <ion-col col-2 align-self-center>
      1 Pt.
    </ion-col>
    <ion-col col-10>
      Correct amount of goals for a team. (e.g. prediction of 2-1, final score is 2-3, 1 point will be awarded. Prediction of 3-1, final score is 2-2, 0 points will be awarded.)
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      3 Pts.
    </ion-col>
    <ion-col col-10>
      Correct result, plus points for correct amount of goals (if any). (e.g. prediction of 2-1, final score is 3-2, 3 points will be awarded for predicting the correct team to win.)
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      3 Pts.
    </ion-col>
    <ion-col col-10>
      Correct scoreline, plus points for a correct result and goals. (e.g. prediction of 2-1, final score is 2-1, 8 points will be awarded - 3 for correct scoreline, 3 for correct result, 1 for each team's correct amount of goals)
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      5 Pts.
    </ion-col>
    <ion-col col-10>
      Correct team position in a group.
    </ion-col>
  </ion-row>
</ion-list>
<b class="subtitle-font">Knockout Stage</b>
<ion-list class="grid">
  <ion-row>
    <ion-col col-2 align-self-center>
      1 Pt.
    </ion-col>
    <ion-col col-10>
      Correct amount of goals for a team, see above.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      3 Pts.
    </ion-col>
    <ion-col col-10>
      Correct result, plus points for correct amount of goals (if any), see above.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      3 Pts.
    </ion-col>
    <ion-col col-10>
      Correct scoreline, plus points for a correct result and goals, see above.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      20 Pts.
    </ion-col>
    <ion-col col-10>
      Correct prediction of the winner.
    </ion-col>
  </ion-row>
</ion-list>
