page-predictions-summary {
  .center-text {
    text-align: center;
  }

  .grid {
    margin: 0;
    padding: 0;
  }

  .v-center {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
