page-predictor {
  .v-center {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .h-center {
    text-align: center;
    font-size: 3vw;
  }

  .team {
    color: color($colors, russia-red);
    font-size: 3vw;
  }

  @media screen and (min-width: 467px) {
    .h-center {
      text-align: center;
      font-size: 14px;
    }

    .team {
      color: color($colors, russia-red);
      font-size: 14px;
    }
  }

  .score-input {
    max-width: 100%;
  }

  .flag {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 467px) {
    .flag {
      max-width: 90px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    top: 0;
    left: 0;
  }

  .grid {
    margin: 0;
    padding: 0;
  }

  .white-text {
    color: white;
    font-size: 5vw;
  }
}
