page-predictor {
  .v-center {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .h-center {
    text-align: center;
    font-size: 3vw;
  }

  .team {
    color: color($colors, russia-red);
    font-size: 3vw;
  }

  .score-input {
    max-width: 100%;
  }
}
