<ion-list>
  <button ion-item (click)="close('Group A')">Group A</button>
  <button ion-item (click)="close('Group B')">Group B</button>
  <button ion-item (click)="close('Group C')">Group C</button>
  <button ion-item (click)="close('Group D')">Group D</button>
  <button ion-item (click)="close('Group E')">Group E</button>
  <button ion-item (click)="close('Group F')">Group F</button>
  <button ion-item (click)="close('Group G')">Group G</button>
  <button ion-item (click)="close('Group H')">Group H</button>
  <button ion-item (click)="close('Last 16')">Last 16</button>
  <button ion-item (click)="close('Quarter Final')">Quarter Final</button>
  <button ion-item (click)="close('Semi Final')">Semi Final</button>
  <button ion-item (click)="close('3rd Place Play-Off')">3rd Place Play-Off</button>
  <button ion-item (click)="close('Final')">Final</button>
</ion-list>
