<ion-list class="grid">
  <ion-row>
    <ion-col col-2 align-self-center>
      <img src="assets/img/bullet.png" class="center img-size">
    </ion-col>
    <ion-col col-10>
      Predictions for each match can be added/updated any time before the match kicks off.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      <img src="assets/img/bullet.png" class="center img-size">
    </ion-col>
    <ion-col col-10>
      As the tournament progresses, the knockout matches will be populated with the correct teams, these predictions can also be made at any time up until each match kicks off.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      <img src="assets/img/bullet.png" class="center img-size">
    </ion-col>
    <ion-col col-10>
      Predictions can be changed as often as you wish. Once a match kicks off, the prediction for that game will be locked in and cannot be changed.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      <img src="assets/img/bullet.png" class="center img-size">
    </ion-col>
    <ion-col col-10>
      Scores for knockout matches will be counted after 120 minutes if the game goes to extra time. If the game goes to penalties, the score after 120 minutes will be counted and the result points will be awarded for a draw prediction.
    </ion-col>
  </ion-row>
</ion-list>
